In [ ]:
import pandas as pd 
data = pd.read_csv('data.csv')

In [ ]:
data

       Date  Cases  Day  x1
0    Feb 15      0    1   1
1    Feb 16      0    2   1
2    Feb 17      0    3   1
3    Feb 18      0    4   1
4    Feb 19      0    5   1
..      ...    ...  ...  ..
307  Dec 18    342  308   1
308  Dec 19    342  309   1
309  Dec 20    330  310   1
310  Dec 21    302  311   1
311  Dec 22    331  312   1

[312 rows x 4 columns]

In [ ]:
alpha = 0.00005
lamb = 10000
m = 312
import numpy as np 
x = data['Day'].to_numpy()
x1 = data['x1'].to_numpy()
y = data['Cases'].to_numpy()
w0 = np.array([0])
w1 = np.array([0])

In [ ]:
n = 10
for i in range(0, n):
  print('interation number',i)
    
  yp = (((w0 * x1) + (w1 * x) ) - y)*x1
  yk = (((w0 * x1) + (w1 * x) ) - y)*x
  w0 = w0  - ((alpha/m)*(np.sum(yp)))
  w1 = ((1 - (alpha*lamb/m))*w1)  - ((alpha/m)*(np.sum(yk)))
  print('w0' , w0 )
  print('w1' , w1)

interation number 0
w0 [0.02347372]
w1 [4.80736811]
interation number 1
w0 [0.00932861]
w1 [1.76983687]
interation number 2
w0 [0.01895288]
w1 [3.68909289]
interation number 3
w0 [0.0135585]
w1 [2.47641071]
interation number 4
w0 [0.01765363]
w1 [3.24263874]
interation number 5
w0 [0.01575282]
w1 [2.75849548]
interation number 6
w0 [0.01764052]
w1 [3.06439734]
interation number 7
w0 [0.01713445]
w1 [2.87111044]
interation number 8
w0 [0.01814087]
w1 [2.99323517]
interation number 9
w0 [0.01819161]
w1 [2.91606756]

In [ ]:
def ml(x) :
  x1 = 1
  yp = (w0 * x1) +(w1 * x)
  print(yp)

In [ ]:
ml(400)

[1166.44521487]

In [ ]:
n = 30
for i in range(0, n ):
  ml(i+312)

[909.83126975]
[912.74733731]
[915.66340487]
[918.57947243]
[921.49553999]
[924.41160754]
[927.3276751]
[930.24374266]
[933.15981022]
[936.07587778]
[938.99194533]
[941.90801289]
[944.82408045]
[947.74014801]
[950.65621557]
[953.57228313]
[956.48835068]
[959.40441824]
[962.3204858]
[965.23655336]
[968.15262092]
[971.06868847]
[973.98475603]
[976.90082359]
[979.81689115]
[982.73295871]
[985.64902626]
[988.56509382]
[991.48116138]
[994.39722894]